/* Write your CSS code here */
.image-login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  margin: 30px;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .image-login-container {
    padding: 30px;
  }
}

.login-image-container {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .login-image-container {
    display: flex;
    flex-direction: column;
  }
}

.website-login {
  height: 300px;
}

@media screen and (max-width: 768px) {
  .website-login {
    height: 200px;
  }
}

.nxt-trendz-container {
  padding-left: 30px;
}

.nxt-trendz-logo {
  height: 40px;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .nxt-trendz-logo {
    height: 30px;
  }
}

.label-input-container {
  margin-bottom: 20px;
}

.form-container {
  margin-right: 20%;
}

.label {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 700;
  color: #475569;
}

.input {
  background-color: #d7dfe9;
  border-width: 0px;
  border-radius: 06px;
  height: 30px;
  width: 130%;
  margin-top: 13px;
  padding: 06px;
  outline: none;
}

@media screen and (max-width: 768px) {
  .input {
    width: 100%;
  }
}

.login-button {
  background-color: #0b69ff;
  color: #ffffff;
  border-width: 0px;
  border-radius: 06px;
  height: 30px;
  width: 130%;
  text-align: center;
  outline: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .login-button {
    width: 100%;
  }
}

.error-msg {
  font-family: 'Roboto';
  font-size: 13px;
  color: #ff0b37;
}
